{% extends'base.html'%}
{% block title %}
        Home
    {% endblock title %}
{% block body%}
   

   <!-- ---------------------------------form--------------------------- -->
    <div class="container"><form action="/alltodos" method="POST">
        <div class="mb-3">
           <h2>Add a ToDo</h2>
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" name="desc" id="description">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form></div>
   <!-- ---------------------------------form--------------------------- -->


   <!-- -----------------------------table------------------------ -->
      <div class="container my-5"><table class="table">
        <h2>Your ToDos</h2>
        
        <tbody>
          {% if all_todo|length==0 %}
          <div class="alert alert-info" role="alert">
           No todos found!😒
          </div>
          {% else %}
          <thead>
            <tr>
              <th scope="col">SNo</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Creation</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          {% for todo in all_todo  %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.date_created}}</td>
            <td>
              <a href="/update/{{ todo.sno }}" class="btn btn-outline-success btn-sm mx-1" role="button">Update</a>
              <a href="/delete/{{ todo.sno }}" class="btn btn-outline-danger btn-sm mx-1" role="button">Delete</a>
              
            </td>
            
          </tr>
          {% endfor %}
          {% endif %}
          
         
        </tbody>
      </table></div>
   <!-- -----------------------------table------------------------ -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock body%}